<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'partieweb/main.css' %}">
    <title>Toutes les données</title>
</head>
<body>
<a class="navigation" href="/partieweb/">Retour</a>{% if queryset %} <a class="navigation" href="/partieweb/deleteall/0/">Tout supprimer</a>{% endif %} <a class="navigation" href="/partieweb/ajoutdonnees/1/">Rafraîchir</a>
<form method="GET" action="/partieweb/donnees_all_filtrees/">
    <input type="search" name="date_min" placeholder="A partir du : aaaa-mm-jj">{% if date_min_query %} {{date_min_query}}{% endif %}
    <input type="search" name="date_max" placeholder="Jusqu'au : aaaa-mm-jj">{% if date_max_query %} {{date_max_query}}{% endif %}
    <input type="search" name="name" placeholder="Nom du capteur contient :">{% if nom_query %} {{nom_query}}{% endif %}
    <input type="search" name="id" placeholder="ID du capteur :">{% if id_query %} {{id_query}}{% endif %}
    <input type="submit" value="filtrer">
</form>
<p>Filtres courants :
    {% if date_min_query or date_max_query or nom_query or id_query %}
        {% if date_min_query %}à partir du {{date_min_query}} {% endif %}
        {% if date_max_query %}jusqu'au {{date_max_query}}{% endif %}
        {% if nom_query %}capteur {{nom_query}}{% endif %}
        {% if id_query %}ID {{id_query}}{% endif %}
    {% else %}
        aucun
    {% endif %}.</p>
<table>
    {% if queryset %}
        <tr><th>Timestamp</th><th>Capteur</th><th>Température</th><th> </th></tr>
        {% for l in queryset %}
        <tr><td>{{l.timestamp}}</td><td>{{l.capteur.nom}}</td><td>{{l.temp}}</td>
        <td><a href="/partieweb/deletedonnee_2/{{l.id}}/">Supprimer</a></td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>Aucune donnée pour le moment.</tr>
    {% endif %}
</table>
</body>
</html>

