<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'partieweb/main.css' %}">
    <title>Données de {{id}}</title>
</head>
<body>
<a class="navigation" href="/partieweb/">Retour</a>{% if queryset %} <a class="navigation" href="/partieweb/deleteall/{{id}}/">Tout supprimer</a>{% endif %} <a class="navigation"  href="/partieweb/ajoutdonnees/{{id}}/">Rafraîchir</a>
{% if date_min_query or date_max_query  %}<a class="navigation" href="/partieweb/donnees/{{id}}/">Retirer les filtres</a>{% endif %}
<p>Données du capteur {{id}}</p>
<form method="GET" action="/partieweb/donnees_filtrees/{{id}}/">
    <input type="search" name="date_min" placeholder="A partir du : aaaa-mm-jj">
    <input type="search" name="date_max" placeholder="Jusqu'au : aaaa-mm-jj">
    <input type="submit" value="filtrer">
</form>
<p>Filtres courants : {% if date_min_query or date_max_query%}{% if date_min_query %}à partir du {{date_min_query}}, {% endif %}{% if date_max_query %}jusqu'au{{date_max_query}}{% endif %}{% else %}aucun{% endif %}</p>
<table>
    {% if queryset %}
        <tr><th>Timestamp</th><th>Température</th><th></th></tr>
        {% for l in queryset %}
        <tr><td>{{l.timestamp}}</td><td>{{l.temp}}</td>
        <td><a href="/partieweb/deletedonnee/{{l.id}}/">Supprimer</a></td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>Aucune donnée pour le moment.</tr>
    {% endif %}
</table>
</body>
</html>