<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capteurs</title>
</head>
<body>
<a href="/partieweb/ajout/">Ajouter un capteur</a> -
<a href="/partieweb/donnees_all/">Voir toutes les données</a>
<ul>
    {% if liste %}
        {% for l in liste %}
        <li>{{l}}
        <a href="/partieweb/affiche/{{l.id}}/">Afficher</a> -
        <a href="/partieweb/update/{{l.id}}/">Mettre à jour</a> -
        <a href="/partieweb/delete/{{l.id}}/">Supprimer</a> -
        <a href="/partieweb/donnees/{{l.id}}/">Données du capteur</a>
        </li>
        {% endfor %}
    {% else %}
        <li>Aucun capteur trouvé. cliquer sur "Rafraîchir" pour les ajouter automatiquement.</li>
    {% endif %}
</ul>
<a href="/partieweb/ajoutdonnees/0/">Rafraîchir</a>
</body>
</html>