<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'partieweb/main.css' %}">
    <title>Mise à jour</title>
</head>
<body>
<form class="formulaire" method="post" action="/partieweb/updatetraitement/{{id}}/">
{% csrf_token %}
  <div class="field-container">
    {{ form.nom.label_tag }}
    {{ form.nom }}
  </div>
    <div class="field-container">
    {{ form.emplacement.label_tag }}
    {{ form.emplacement }}
  </div>
<input type="submit" value="envoyer les données"/>
</form>
</body>
</html>